*{
    margin: 0;
    padding: 0;
}
.wrapper{
    background-color: #FFF4E7;
}
.container{
    width: 75%;
    margin: auto;
}
/* navbar start */
.navbar{
    margin-bottom: 40px;
}
.navbar .container{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h2{
    font-size: 35px;
}
.nav-list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 26px;
    height: auto 0px;
    align-content: center;
    align-items: center;
    font-size: 18px;
}
.nav-list li{
    font-weight: bold;
}
/* navbar end */
/* header start */
.heading{
    width: 70%;
    margin: auto;
    text-align: center;
}
.heading h2{
    font-size: 45px;
    text-align: center;
    font-weight: bold;
}
.heading p{
    text-align: center;
    margin: 20px 0px;
}
.heading button{
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    background: #FF900E;
    color: white;
}
.image>img{
    width: 100%;
    padding: 25px 0px;
}
/* header end */
/* features start */
.features{
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    margin: 60px 0px;
}
.features-images{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.features-images img{
    width: 40%;
}
.features-text{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.features-text>h3{
    font-size: 30px;
}
.quick-list{
    color: gray;
}
.featur{
    color: #FF900E;
}
.features-text p {
    margin: 20px 0px;
    color: gray;
}
.features-text button{
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    background: #FF900E;
    color: white;
}
/* features end */
/* enjoy start */
.love-enjoy{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 60px 0px;
}
.love-enjoy-text{
    width: 45%;
}
.enjoy-head{
    border-left: 4px solid #FF900E;
    margin: 20px 0px;
    padding: 5px 10px;
    font-size: 30px;
}
.love-enjoy-text p{
    color: gray;
    margin-bottom: 10px;
}
.love-enjoy-image{
    width: 45%;
}
.love-enjoy-image img{
    width: 100%;
}
.enjoy-page{
    padding: 20px 15px;
    margin: 15px 0px;
    box-shadow: 0px 0px 2px gray;
    border-radius: 6px;
}
.enjoy-page h4{
    margin-bottom: 8px;
}
.enjoy-btn{
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 50%;
    margin: auto;
}
.btn{
    padding: 30px 40px;
    background: #FF900E;
    color: white;
    border-radius: 6px;
}
.btn h3{
    font-size: 30px;
}
/* enjoy end */
/* about start  */
.about h3{
    text-align: center;
    font-size: 40px;
}
.about p{
    color: gray;
    margin: 30px 0px;
}
/* about end */
/* some facts start  */
.some-facts h3{
    font-size: 40px;
    padding-top: 20px;
}
.some-facts p{
    color: gray;
    margin: 20px 0px;
}
.some-facts-banner{
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;
}
.banner{
    width: 150px;
    border: 1px solid #FF900E;
    padding: 30px 20px;
    text-align: center;
    border-radius: 6px;
}
.banner h4{
    font-size: 30px;
    margin: 5px 0px;
}
.banner span{
    color: gray;
}
/* some facts end */
@media screen and (max-width:576px){
    .container{
        width: 90%;
    }
    /* navbar start */
    .navbar .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .container>h2{
        padding: 20px 0px;
    }
    .nav-list{
        flex-direction: column;
        justify-content: space-around;
        justify-content: center;
        align-items: center;
    }
    /* navbar end */
    /* header start */
    .heading{
        width: 100%;
    }
    .image>img{
        width: 100%;
    }
    /* header end */
    /* features start */
    .features{
        flex-direction: column;
        margin-bottom: 0px;
    }
    .features-images{
        width: 100%;
    }
    .features-images img{
        width: 100%;
    }
    .features-text{
        width: 100%;
        margin: 20px 0px;
    }
    /* features end */
    /* enjoy start */
    .love-enjoy{
        flex-direction: column;
    }
    .love-enjoy-image{
        width: 100%;
    }
    .love-enjoy-image img{
        width: 100%;
    }
    .love-enjoy-text{
        width: 100%;
        margin: 20px 0px;
    }
    .enjoy-btn{
        bottom: -130px;
        left: 0;
        right: 0;
    }
    /* enjoy end */
    /* about start  */
    .about{
        margin-top: 170px;
    }
    /* about end */
    /* some facts start */
    .some-facts-banner{
        flex-direction: column;
        gap: 20px;
    }
    .banner{
        width: 90%;
        margin: auto;
    }
    /* some facts end */
}